@tailwind base;
@tailwind components;
@tailwind utilities;

#link{
    text-decoration: none;
}

#link1{
    text-decoration: none;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}